@model BibliotekaOOAD.Models.Biblioteka

@{
    ViewData["Title"] = "Library Information";
}

    <div style="float:left; width:50%;">
        <img src="https://lh3.googleusercontent.com/proxy/AS4Bqb7lDwPh--UviiA7Rc_33QEeZjtMTidJ3yr_hlL0MVyHjAt3RRLTwlk6MloMjID245eXFPnd_Jpb-Vb8pn5HCY1crGBukgcGMFVL" alt="Slika se nije mogla ucitati"
             style="width:70%; height:500px; padding-bottom:3%">
    </div>

<div style="float:right; width:50%;">
    <div style="margin: 0 auto">
        <h4>Informacije o biblioteci</h4>
        <h6>Radno vrijeme: 08:00-16:00</h6>
        <h6>Adresa: Zmaja od Bosne 8b, Sarajevo 71000</h6>
        <h6>Kontakt telefon: 033 433 444</h6>
        <h6>Email adresa: etf@etf.unsa.ba</h6>
        <h6>Instagram: instagram.com</h6>
        <h6>Twitter: B_hundred_hyun</h6>
        <h6>Facebook: facebook.com</h6>
    </div>
</div>
