@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <img src="http://bgfons.com/uploads/books/books_texture3033.jpg" alt="Background se nije mogla ucitati"
        style="width:100%; height:300px; padding-bottom:3%" >
    </div>

    <input type="button" value="DodajTop15" onclick="location.href='@Url.Action("DodajTop15", "Home")'"/>

    <div id="map" class="map" style="float:right; width:30%; height:230px; padding-top:2%">
        <h4>Možete nas naći na adresi:</h4>
    </div>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/c
ss/ol.css" type="text/css">

<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.0/bu
ild/ol.js"></script>
<script type="text/javascript">
var map = new ol.Map({
target: 'map',
layers: [
new ol.layer.Tile({
source: new ol.source.OSM()
})
],
view: new ol.View({
center: ol.proj.fromLonLat([18.3967981, 43.8560008]),
zoom: 18
})
});
</script>

<input type="button" value="About page" onclick="location.href='@Url.Action("About", "Home")'" />
